@charset "UTF-8";


body {

    font-family: Tahoma;
    margin: 0px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    
}

div.cabecalho {
    text-align: center;
    background-color: #afddfb;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
}

p > a {

    margin: 0px 10px 0px 10px;
    color: #1d1d1d;
    text-decoration: none;
    border-bottom: 2px solid #1d1d1d;
    font-size: 18px;
    
    
    
}

div.imagem {

    text-align: center;
    margin: 50px 0px 0px 0px ;
    
}

div.sobre {
    text-align: center;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
}

p.destaque {

    color: #1c81c0;
    font-size: 1.0em;
    font-weight: bold;
}

p > strong {

    color:  #1c81c0;
    font-weight: bold;
}

div.servicos {
    text-align: center;
    background-color: #1d80c1;
    color: white;
    padding: 15px;
    margin:  30px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

div.servicos > p {

    line-height: 42px;
    text-align: center;
    font-size: 19px;
    
}

div.servicos > ul {
    width: 135px;
    margin: 40px auto 5px auto;
    line-height: 35px;
    font-size: 18px;
    
}
strong.servicos1 {
    color: #fff81b;
}

div.corretores {
    text-align: center;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
}
div.corretores > h3 {

    color: #1c81c0;
}

div.corretores > p > a {

    color: #1d80c1;
    text-decoration: none;
    border-bottom: 2px solid #1d80c1;
}

strong.servicos2 {

    color: #1c81c0;
}

div.contato {
    text-align: center;
    background-color: #1d80c1 ;
    color: white;
    padding: 10px;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
}

div.contato > p.black {

    background-color: black;
    margin-left: 114px;
    margin-right: 148px;
    padding: 5px;
}
div.contato p > strong {

    color: #fff81b;
    
}

div.contato > p > a {

    background-color: white;
    border-radius: 4px;

    padding: 3px;
}

img.responsivo {

    width: 100%;
    
}