@charset "UTF-8";

body {
    

    
}

div.cabecalho {
    text-align: center;
    background-color: rgb(9, 255, 255);
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

p > a {

    margin: 10px;
    color: rgba(100, 100, 212, 0.836);
    
    
    
}

div.imagem {
    text-align: center;
    padding: 20px;
    width: 90%;
    
}

div.sobre {
    text-align: center;
    width: 100%;
    min-width: 280px;
    max-width: 800px;
}

p.destaque {

    color: rgba(100, 100, 212, 0.836);
    font-size: 1.0em;
    font-weight: bold;
}

p > strong {

    color:  rgba(100, 100, 212, 0.836);
}

div.servicos {
    text-align: center;
    background-color: #172cebb6;
    color: white;
    padding: 15px;
    margin:  30px;
}

div.servicos > ul {
    list-style-position: inside;
}
strong.servicos1 {
    color: gold;
}

div.corretores {
    text-align: center;
}
div.corretores > h3 {

    color: #172cebb6;
}

strong.servicos2 {

    color: #172cebb6;
}

div.contato {
    text-align: center;
    background-color: rgba(104, 104, 188, 0.818) ;
    color: white;
    padding: 10px;
}

div.contato > p.black {

    background-color: black;
    margin-left: 114px;
    margin-right: 148px;
    padding: 5px;
}
div.contato p > strong {

    color: gold;
    
}

div.contato > p > a {

    background-color: white;
    border-radius: 4px;

    padding: 3px;
}

img.responsivo {

    width: 100%;
    
}